@model IEnumerable<Project_BanSach.Models.Loaisach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QuanLy.cshtml";
}


<h1>LOẠI SÁCH</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiSach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiSach)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoaiSach">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLoaiSach">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLoaiSach">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
