@model IEnumerable<Project_BanSach.Models.Giohang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QuanLy.cshtml";

}

<h1>GIỎ HÀNG</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhGhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhGhNavigation.MaKh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
