@model Project_BanSach.Models.Discount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_QuanLy.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDisc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDisc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDisc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
